@import "./nomalize.css";
*{
  font-size:16px;
  font-family:"微软雅黑";
}
html{
  font-size:62.5%;
}
body{
  margin:0;
  padding:0;
  /*height:3000px;*/
}
ul, li{
  list-style:none;
  padding:0;
  margin:0;
}
a:hover{
text-decoration: underline;
}
a:link,a:visited,a:active{
  text-decoration: none;
}