html {
  font: fontSize fontFamily;
  margin: 0;
  padding: 0;
  color: dark;
}

thead {
  background: #f3f3f3;
}

th,
td {
  color: dark;
}

a {
  color: dark;
  transition: all cubic-bezier(0.6, 0.04, 0.98, 0.335) 1s;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
