html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

thead {
  background: #f3f3f3;
}
th,
td {
  color: black;
}
a {
  color: #180808;
  transition: all cubic-bezier(0.6, 0.04, 0.98, 0.335) 1s;
}
a:link {
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:hover{
  transform: scale(1.2);
}

