html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

thead {
  background: #f3f3f3;
}
th,
td {
  color: black;
}
a {
  color: #ff0000;
}
a:link {
  text-decoration: none;
}

