html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}
#app {
  position: absolute;
  width: 99vw;
  height: 99vh;
  background-size: cover;
  background-image: url(../../img/wuhan.jpg);
}
thead {
  background: #f3f3f3;
}
th,
td {
  color: black;
}
a {
  color: #ff0000;
}
a:link {
  text-decoration: none;
}
.panel {
  background: white;
  padding: 2px;
  border-radius: 2px;
}
.table {
  margin: 1px;
}
.pageheader {
  background-color: #54585d;
}
