fontFamily = 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
fontSize = 62.5%;
primary = #007bff;
activeState = #0062cc;
success = #28a745;
danger = #dc3545;
warning = #ffc107;
info = #17a2b8;
light = #f8f9fa;
dark = #333333;